<div>
    <div class="card-body">
        <h3 class="card-title">
            <span>Listado de empleados</span>
        </h3>
    </div>
    <div class="alert alert-info" *ngIf="empleadosPaginated?.length==0">
        No hay registros en la base de datos
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="filterNombre" placeholder="Buscar por nombre...">
    </div>
    <table id="empleados" class="table table-striped" *ngIf="empleadosPaginated?.length>0">
        <thead>
          <tr class="text-primary">
            <!-- <th style="width: 64px"></th> -->
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>DNI</th>
            <th>Cargo</th>
            <th ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleadosPaginated">
            <!-- <td >
              <img *ngIf="producto?.fotoProducto" src="http://localhost:8080/api/uploads/img/{{producto.fotoProducto}}" alt="{{producto.fotoProducto}}" class="img-thumbnail rounded" 
              style="width: 64px"/>
            </td> -->
            <td>{{ empleado.nombreEmpleados }}</td>
            <td>{{ empleado.apellidosEmpleados }}</td>
            <td>{{ empleado.dniEmpleados }}</td>
            <td>{{ empleado.cargoEmpleados }}</td>
            <td class="text-rigth">
              <button *ngIf="hasRole('ROLE_ENCARGADO')" type="button" name="editar" ngbTooltip="Editar" class="btn btn-primary btn-sm ml-1"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
              <button *ngIf="hasRole('ROLE_ENCARGADO')" type="button" name="eliminar" ngbTooltip="Eliminar" class="btn btn-danger btn-sm ml-1"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadAll()" [boundaryLinks]="true"></ngb-pagination>
</div>